.cuerpo{
  display: flex;
  margin: 0;
}

.nav_left{
 height: 500px;
  width: 25%;
  margin-top: 10%;
}

.content {
  height: calc(100% - 16px);
  width: 75%;
  padding: 8px;
}

#root{
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  background-image: url(imagenes_pokemon/fondo_pokemon.jpg);
}

#drawcards{
  background-color: #d0a3fd
}

.card{
  margin: 1em;
  box-shadow: 0 15px 30px black;
  text-align: center;
  align-content: flex-start;
}

.card img{
width: 80%;
align-self: center;
}

.card .box{
text-align: center;
padding: 1.20em;
}

.card .box .img{
height: 100px;
margin: 0 auto;
}

.btn-group button {
  margin:0px 20px;
  margin-bottom: 15px;
  padding: 10px;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
  background: #ffff33;
  color: #000;
  
}

.btn-primary {
  background-color: #d12525;
}

.title{
  margin-top: 5%;
  font-family: 'Roboto Mono', monospace;
}
.header{
  background-color: #ffff33;
  font-size: 25px;
  font-style: serif;
  font-weight: serif;
}
.footer{
  background-color: #ffff33;
  height: 80px;
  color: black;
}
.jumbotron{
  background-image: url(imagenes_pokemon/fondo_pokemon.jpg);
  margin-bottom: 0px;
}
.container{
  background-image: url(imagenes_pokemon/fondo_pokemon.jpg);
}
.card-text{
  font-size: 14px;
}